.login {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .login-box {
    background-color: #151a21;
    width: 400px;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    .login-header {
      h1 {
        color: whitesmoke;
        font-size: 30px;
        font-weight: 700;
      }
      p {
        color: lightgray;
        font-size: 15px;
        font-weight: 500;
      }
    }
    .github-login-btn {
      margin: 50px 0;
      .github-login-icon {
        width: 20px;
        height: 30px;
        fill: whitesmoke;
        margin-right: 20px;
      }
      background-color: #242c37;
      color: whitesmoke;
      font-size: 15px;
      font-weight: 700;
      padding: 10px;
      &:hover {
        background-color: #323d4d;
      }
    }
    .description {
      color: lightgray;
      p {
        font-size: 15px;
        font-weight: 500;
        margin: 0;
        a {
          color: #fd4d4d;
        }
      }
    }
  }
  .logo {
    position: absolute;
    bottom: 25px;
    left: 75px;
    color: #fd4d4d;
    font-size: 30px;
    font-weight: 800;
  }
}
